body{
    width: 960px;
    
    }
    header{
     background-color: #98D0FC     ;
     background-position: center top;
     height: 100px;
     padding-top: 10px;
     font-family:  'Arial';
     
     }
     .blog{
     

     }
        
